*.pdf
*.pkl
*.png
*.pyc
*.pt
*.txt
F:\Thesis_Rifat_sir\code\VLMs-Need-Words-COLM2026\added_lines_diamond_gemma12b_results_latent_logit\.virtual_documents\__notebook_source__.ipynb
metadata.json
F:/Thesis_Rifat_sir/code/VLMs-Need-Words-COLM2026/added_lines_diamond_gemma12b_results_latent_logit/